<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Robert (Mrengles)</string>
	<key>Year</key>
	<string>2013</string>
	<key>Description</key>
	<string>Elegant and simple Bootcamp styled theme with tons of extra artwork and icons to choose from for easy customization.</string>
</dict>
</plist>
