<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleStyle</key>
	<dict>
		<key>Name</key>
		<string>AppleStyle</string>
		<key>Author</key>
		<string>Eps</string>
		<key>Year</key>
		<string>2012</string>
		<key>Description</key>
		<string>Apple Style</string>
	</dict>
	<key>black_green</key>
	<dict>
		<key>Name</key>
		<string>black_green</string>
		<key>Author</key>
		<string>blackosx</string>
		<key>Year</key>
		<string>2012</string>
		<key>Description</key>
		<string>black_green</string>
	</dict>
	<key>iClover</key>
	<dict>
		<key>Name</key>
		<string>iClover</string>
		<key>Author</key>
		<string>Winlog</string>
		<key>Year</key>
		<string>2012</string>
		<key>Description</key>
		<string>iClover</string>
	</dict>
	<key>metal</key>
	<dict>
		<key>Name</key>
		<string>metal</string>
		<key>Author</key>
		<string>Slice</string>
		<key>Year</key>
		<string>2012</string>
		<key>Description</key>
		<string>Main metallic looking theme</string>
	</dict>
	<key>mrengles</key>
	<dict>
		<key>Name</key>
		<string>mrengles</string>
		<key>Author</key>
		<string>Robert (Mrengles)</string>
		<key>Year</key>
		<string>2013</string>
		<key>Description</key>
		<string>Elegant and simple Bootcamp styled theme with tons of extra artwork and icons to choose from for easy customization.</string>
	</dict>
</dict>
</plist>
